---
import Section from "../Section.astro";
import { RESUME } from "../../data/resume.ts";
---

<Section>
  <h2 class="text-xl font-bold">About</h2>
  <p class="text-pretty print:text-[12px] text-gray-500">
    {RESUME.summary}
  </p>
</Section>
