---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="mx-auto w-full max-w-2xl space-y-8 bg-white print:space-y-4">
    <h1 class="font-bold text-7xl">Elijah</h1>
    <section>
      <h2 class="font-light">(any/all)</h2>
      <h2 class="font-light text-3xl mt-8">
        Engineer, writer, and punk ukulele player based in New York City
      </h2>
    </section>
  </main>
</Layout>
