---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
---

<Layout title="elijah lewis">
  <main class="mx-auto w-full max-w-2xl space-y-8 bg-white print:space-y-4">
    <Title>Elijah Lewis</Title>
    <section>
      <h2 class="font-light">(any/all)</h2>
      <h2 class="font-light text-3xl mt-8">
        Engineer, writer, and punk ukulele player based in New York City
      </h2>
    </section>
  </main>
</Layout>
