---
import Layout from "../layouts/Layout.astro";
import projects from "@data/projects.json";
---

<Layout title="elijah | projects" description="Coding projects">
  <main class="mx-auto w-full max-w-2xl space-y-8 bg-white print:space-y-4">
    <h1 class="font-bold text-7xl">Projects</h1>
    <ul class="space-y-6">
      {
        projects.map(({ title, url, description }) => (
          <li>
            <div class="space-y-2">
              <a
                href={url}
                target="_blank"
                class="underline underline-offset-8 text-xl"
              >
                {title}
              </a>
              <p>{description}</p>
            </div>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
