---
// Supports weights 100-900
import "@fontsource-variable/noto-sans-lao";

import "../styles/global.css";
import Nav from "../components/Nav.astro";
import Head from "@components/Head.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  type?: "website" | "article";
  date?: Date;
}

const { title, description, image, type = "website", date } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head
    title={title ?? "elijah | developer"}
    description={description ?? "Elijah Lewis' personal website."}
    image={image}
    type={type}
    date={date}
  />
  <body class="font-lato">
    <header
      class="container mx-auto p-4 pt-4 print:p-12 print:pt-8 md:p-16 md:pt-8"
    >
      <Nav />
    </header>
    <slot />
  </body>
</html>
